
/* 
    Stylesheet
    Author: Roberto Jimenez
    Date: February 23, 2022
    Filename: style.css
*/

body {
    background-color: lightgray;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    
    display: grid;
    
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    
    grid-gap: 10px;
    border: 10px solid red;
}

/*
---------
-grid----
---------
*/
header {
    grid-column-start: 1;
    grid-column-end: 3;
}
section {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
}
article {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
}
footer{
    grid-column-start:1;
    grid-column-end: 3;
}

/*
-------------
--Navigation-
-------------
*/
main{
    text-align: center;
    
}
main {
    background-color: black;
    color: white;
    overflow: auto;
    font-family: sans-serif;
    font-size: 42px;
}
ul {
    margin: 0;
    padding: 0;
    overflow:auto;
    background-color: black;
}
li {
    float: left;
}
li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

/*
----------------
--section-style-
----------------
*/
section {
    background-color: black;
    color: white;
    padding: 2px;
    text-align: center;
        
}
p  {
    padding: 5px;
    letter-spacing: 0.1em;
    line-height: 1.2em;
}
article {
    text-align: center;
    background-color: black;
    color: white;
    
}
ol {
    font-family: cursive;
    font-size: 20px;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
}

/*
--------------
---DIV--------
--------------
*/
div {
    font-family: cursive;
    padding: 2px;
    letter-spacing: 0.2em;
    line-height: 1.5em;
}

